div#lobby
  div#lobby-panel
    h2= 'VIMP Tank Battle'
    input#lobby-search(type='text', placeholder='Search servers…')
    ul#lobby-list
    p#lobby-empty= 'No servers available'
    button#lobby-more(type='button')= 'Load more'
